<%= form_for (@employee) do |form|%>
 <p class="spacing-class">
  <div class = "container">
    <div class="card">
      <div class="card-body">
      <div class="">
        <% if @employee.errors.any? %>
          <div class="alert alert-danger">
            <% @employee.errors.each do |error| %>
            <%= error.full_message %>
            <% end %>
          </div>
        <% end %>
      </div>
       <p class="form-heading">Personal Details</p>
        <div class="row">
          <div class="col">
            <div class= "field form-group">
                <%=form.label :Name%>
                <%= form.text_field :name, class:"form-control" ,placeholder: "Name"%>
            </div>
          </div>
          <div class="col">
            <div class= "field form-group">
                <%= form.label :Age%>
                <%= form.text_field :age, class:"form-control", placeholder: "Age"  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
                  <%= form.label :Gender %>
                  <p class="form"><%=form.radio_button :gender, 'Male'%> Male
                  <%=form.radio_button :gender, 'Female'%> Female
                  <%=form.radio_button :gender, 'Others'%> Others</p>

          </div>
          <div class="col">
              <div class= "field form-group">
                <%= form.label :Mobile %>
                <%= form.text_field :mobile, class:"form-control", placeholder:"Mobile"  %>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class= "field form-group">
                <%= form.label :Email%>
                <%= form.text_field :email, class:"form-control", placeholder:"Email"  %>
            </div>
          </div>
          <div class="col">
            <div class= "field form-group">
                <%= form.label :Address%>
                <%= form.text_field :address, class:"form-control", placeholder:"Address"  %>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class= "field form-group">
              <%= form.label :Skills%>
              <%= form.text_field :skills, class:"form-control" , placeholder: "Skills" %>
            </div>
          </div>
          <div class="col">
            <div class= "field form-group">
              <%=form.label :Profile_Image%>
              <%=form.file_field :image, class:"form-control"%>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class= "field form-group">
              <%=form.label :Background_Image%>
              <%=form.file_field :banner, accept: 'image/png, image/gif, image/jpeg',class:"form-control"%>
            </div>
          </div>
          
          <div class="col">
            <div class= "field form-group">
              <%=form.label :About%>
              <%=form.text_field :about, class:"form-control" , placeholder: "Skills"%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </p>

  <p class="spacing-class">
  <div class = "container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
              <div class = "field form-group">
                <%=form.label :Education,class:"form-heading"%>
                <%=form.fields_for :educations,remote: true do |f| %>
                  <%= render "education_fields", f: f%>
                <% end %>
                <%= link_to_add_fields 'Add', form, :educations %><br/>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </p>

  <p class="spacing-class">
  <div class = "container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <div class = "field form-group">
              <%=form.label :Experience,class:"form-heading"%>
              <%= form.fields_for :experiences do |f| %>
                <%=render 'experience_fields', f: f%>
              <% end %>
              <%= link_to_add_fields 'Add', form, :experiences %><br/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </p>

   <% if @employee.persisted? %>
    <div class = "form-button">
        <br/>
        <%= form.submit 'Update', class: "btn btn-dark" %>
    </div>
  <% else %>
    <div class = "form-button">
        <br/>
        <%= form.submit 'Add', class: "btn btn-secondary" %>
    </div>
  <% end %> 

<%end%>

<script> 

  $('form').on('click','.remove_fields', function(event){
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });


  $('form').on('click','.add_fields', function(event){
    console.log("clicked!");
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>





