<br/>
<%= form_for @employee do |form|%>
  <div class= "field form-group">
    <%= form.text_field :name, class:"form-control" ,placeholder: "Name"%>
  </div>

  <div class= "field form-group">
    <%= form.text_field :age, class:"form-control", placeholder: "Age"  %>
  </div>

  <div class= "field form-group">
    <%= form.select(:gender, ['-','Male', 'Female','Others'], {},class:"form-control") %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :mobile, class:"form-control", placeholder:"Mobile"  %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :email, class:"form-control", placeholder:"Email"  %>
  </div>
 
  <div class= "field form-group">
    <%= form.text_field :address, class:"form-control", placeholder:"Address"  %>
  </div>

  <div class= "field form-group">
    <%= form.text_field :skills, class:"form-control" , placeholder: "Skills" %>
  </div>

  <div class = "field form-group">
    <%= form.fields_for :experiences do |f| %>
    <% end %>
    <%= link_to_add_fields 'AddExp', form, :experiences %><br/>
  </div>

  <br/>
  <div class = "actions">
        <%= form.submit 'Submit', class: "btn btn-dark" %>
  </div>
    


  <%
=begin%>
 <% if @employee.persisted? %>
    <div class = "form-button">
        <br/>
        <%= form.submit 'Update', class: "btn btn-dark" %>
    </div>
  <% else %>
    <div class = "form-button">
        <br/>
        <%= form.submit 'Add', class: "btn btn-secondary" %>
    </div>
  <% end %> 
<%
=end%>
<% end %>

<script> 

  $('form').on('click','.remove_fields', function(event){
    $(this).prev('input[type=hidden]').val('1');
    $(this).closest('fieldset').hide();
    return event.preventDefault();
  });


  $('form').on('click','.add_fields', function(event){
    console.log("clicked!");
    var regexp, time;
    time = new Date().getTime();
    regexp = new RegExp($(this).data('id'), 'g');
    $(this).before($(this).data('fields').replace(regexp, time));
    return event.preventDefault();
  });
</script>


