<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <ul class = "nav navbar-nav">
    <%if user_signed_in? %>
    <%= link_to 'Employee Portfolio', employees_path, class:"navbar-brand" %>
    <%end%>
    </ul>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="d-flex" id="navbarSupportedContent">
      <ul class = "nav navbar-nav">
          <%if user_signed_in? %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <%=link_to "Edit",edit_user_registration_path,class:"navbar-brand dropdown-item"%>
                <%= link_to "Logout", destroy_user_session_path,method: :delete,class:"navbar-brand dropdown-item"%></a>
              </div>
            </li>
          <%else%>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-brand" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "Sign Up", new_user_registration_path,class:"navbar-brand dropdown-item" %>
            <%= link_to "Login", new_user_session_path,class:"navbar-brand dropdown-item" %>
            </div>
          </li>
          <%end%>
      </ul>
    </div>
  </div>
</nav>
