<%= form_for @employee do |f| %>
<div class="input-container">
    <form id="myform">
      <table>
        <tr>
          <td></td>
          <td id="heading-new">
            <h2>Employee Details</h2>
          </td>
        </tr>
        <tr>
          <td>
            <p class="head-value">Name</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :name , :id =>'empName', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="nameError">Invalid Name</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Age</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :age , :id =>'empAge', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="ageError">Invalid Age</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Mobile</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :mobile , :id =>'empMobile', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="mobileError">Invalid Mobile Number</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Gender</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <select id="empGender" class="dropdown-field" required>
                  <option value="">Select your Gender</option>
                  <option value="Male"> Male </option>
                  <option value="Female"> Female </option>
                  <option value="Others"> Others </option>
                </select>
              </div>
            </div>
            <p class="error-message" id="genderError">Please Select Any One Gender!</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Email</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :email , :id =>'empEmail', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="emailError">Invalid Email</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Skills</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :skills , :id =>'empSkills', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="skillsError">Invalid Name</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Address</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :address , :id =>'empAddress', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="addressError">Invalid Address</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">EmpId</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :empid , :id =>'empID', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="IdError">Invalid Employee ID</p>
          </td>
        </tr>

        <tr>
          <td>
            <p class="head-value">Experience</p>
          </td>
          <td>
            <div class="input-group">
              <div class="text-box">
                <%= f.text_field :experience , :id =>'empExp', :class => 'input-field' %>
              </div>
            </div>
            <p class="error-message" id="expError">Invalid Experience</p>
          </td>
        </tr>

        <tr>
          <td></td>
          <td>
            <div>
              <%= f.submit 'Submit', :class => 'button-field', :id => 'submitButton'%>
            </div>
          </td>
        </tr>

      </table>
    </form>
  </div>
<% end %>