<br/>
<%
=begin%>
 <table class="table table-striped table-bordered table-hover">
  <thead class="thead-dark">
    <tr>
      <th>Employee Name</th>
      <th>Employee Id</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= link_to employee.name,employee_path(employee)%></td>
        <td> <%= employee.id%></td>
        <td><%= link_to 'Edit', edit_employee_path(employee),class: "btn btn-outline-primary btn-sm" %></td>
        <td><%= link_to 'Delete', employee, method: :delete, class: "btn btn-outline-danger btn-sm"%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @employees%> 
<%
=end%>

<%
=begin%>
 <div class ="add-emp-btn">
  <%= link_to 'Add Employee', new_employee_path, class: "btn btn-secondary"%>
</div> 
<%
=end%>

<%= link_to new_employee_path do %>
   <i class="fas fa-plus-circle"  aria-hidden="true"></i>
<%end%>

<div class= "index-class">
  <div class="col-md-9">
    <div class="card employee-card">
      <div class="employee-content">
        <% @employees.each do |employee| %>
          <div class="employee-img">
            <% if employee.image.attached?%>
            <%= image_tag (employee.image), class:"profile", alt:"profile-image"%>
            <%else%>
            <%= image_tag 'user.png', class:"profile", alt:"profile-image"%>
            <%end%>
          </div>
          <div class= "employee-data">
            <p><%=link_to employee.name,employee_path(employee),class:"emp-name"%></p>
            <p><%=employee.about%></p>
            <p class="grey-class"><%=employee.address%></p>
            <hr class="my-4">
          </div>
        <% end %>
        </div>
    </div>
  </div>
</div>

