<div class="jumbotron">
  <h2 class="display-4"><%= @employee.name%></h2>
  <p class="lead"><strong>Employee ID:</strong> <%= @employee.empid%></p>
  <p class="lead"><strong>Age:</strong> <%= @employee.age%></p>
  <p class="lead">Gender:<strong> <%= @employee.gender%></strong></p>
  <p class="lead">Phone:<strong> <%= @employee.mobile%></strong></p>
  <p class="lead">Email:<strong> <%= @employee.email%></strong></p>
  <p class="lead">Address:<strong> <%= @employee.address%></strong></p>
  <p class="lead">Skills:<strong> <%= @employee.skills%></strong></p>
  <p class="lead">Experiences:<strong><%= @employee.experiences.count %></strong>
  <p class="lead">
    <strong>
      <% @employee.experiences.each do |exp|%>
        From:<%= exp.start_date %> |
        To:<%= exp.end_date %> |
        Name:<%= exp.company_name %>
      <% end %>
    </strong>
  </p>
  <hr class="my-4">
  <%= link_to 'Edit', edit_employee_path(@employee), class: "btn btn-secondary" %>
  <%= link_to 'Delete', @employee, method: :delete, class: "btn btn-dark"%>
</div>

<br />


<div class="col-md-12">
    <div class="card profile-card">
            <div class="card-img-block img-fluid">
                <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="Card image cap">
            </div>
            <div class="card-body pt-5">
                <%= image_tag 'user.png', class:"profile", alt:"profile-image"%>
                <h5 class="card-title"><%= @employee.name%></h5>
                <p class="card-text"><%= @employee.address%></p>
            </div>
    </div>
</div>