<div class="show-class">
<div class="col-md-9">
<p class="spacing-class">
    <div class="card profile-card">
            <div class="embed-responsive embed-responsive-1by1">
                <%if @employee.banner.attached?%>
                <%= image_tag (@employee.banner),class:"card-img-block img-fluid embed-responsive-item"%>
                <%else%>
                <img class="card-img-block img-fluid embed-responsive-item" src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="Card image cap">
                <%end%>
            </div>
            <div class="card-body pt-5">
                <% if @employee.image.attached?%>
                <%= image_tag (@employee.image), class:"profile", alt:"profile-image"%>
                <%else%>
                <%= image_tag "user.png", class:"profile", alt:"profile-image"%>
                <%end%>
                <h5 class="card-title"><%= @employee.name%></h5>
                <p class="card-text"><%=@employee.address%> . <%=link_to 'Contact info', "#contact_modal","data-toggle" => "modal"%> </p>
            </div>
    </div>
    </p>


  <p class="spacing-class">
    <div class="card experinece-card">
      <div class="card-body ">
          <h5 class="card-title">About</h5>
          <div class="card-content">
            <p class="black-name"><%=@employee.about%></p>
          </div>
      </div>
    </div>
  </p>


  <p class="spacing-class">
  <% if @employee.experiences.exists? %>
        <div class="card experinece-card">
              <div class="card-body ">
                  <h5 class="card-title">Experience</h5>
                  <div class="card-content">
                    <div id="experiencecont">
                      <%= render partial:"experiences/list_experience" %>
                    </div>
                  </div>
              </div>
        </div>
    <%end%>
    </p>

    <p class="spacing-class">
    <% if @employee.educations.exists? %>
        <div class="card experinece-card"  >
                <div class="card-body ">
                    <div id="educationid" class="">
                      <h5 class="card-title">Education</h5>
                    </div>
                    <div class="card-content">
                      <div id="educationcont">
                        <%= render partial: 'educations/list_education'%>
                      </div>
                    </div>
                </div>
          </div>
    <%end%>
    </p>
  

</div>
</div>

<!-- Modal -->
<div class="modal fade" id="contact_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><%= @employee.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span class="black-heading"><%=image_tag "email.png",class:"email-img",alt:"Profile image"%> Email</span><br/>
        <%= @employee.email%><br/>
        <span class="black-heading"><%=image_tag "phone.png",class:"email-img",alt:"Profile image"%> Mobile Number</span><br/>
        <p class="modal-data"><%= @employee.mobile%></p>
      </div>
    </div>
  </div>
</div>

<div id="education_container"></div>
<div id="experience_container"></div>



